.curriculum {
  text-align: center;
  width: 100%;
  flex-grow: 1;
  overflow: auto;
  padding-block: 20px;

  h2 {
    text-align: center;
    font-size: 2rem;
    color: var(--text-color);
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  .curriculum-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
  }

  .curriculum-card {
    border-bottom: 1px solid var(--text-color);
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s ease, border-color 0.3s ease;

    &:hover {
      background-color: var(--hover-bg-color);
      border-color: var(--link-hover-color);
    }
  }

  .curriculum-info {
    text-align: left;
    color: var(--text-color);
  }

  .curriculum-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--link-active-color);
    margin-bottom: 5px;
  }

  .curriculum-date {
    font-size: 1rem;
    font-weight: bold;
    color: var(--link-hover-color);
    margin-bottom: 10px;
  }

  .curriculum-short-description {
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 5px;
  }

  .curriculum-long-description {
    font-size: 0.95rem;
    color: var(--text-color);
    opacity: 0.9;
    line-height: 1.5;
  }
}
