/* Main.css */
:root {
  --background-color: #242424;
  --text-color: rgba(255, 255, 255, 0.87);
  --link-color: #646cff;
  --link-hover-color: #535bf2;
  --button-bg-color: #1a1a1a;
  --button-hover-border-color: #646cff;
}

body.light {
  --background-color: #ffffff;
  --text-color: #213547;
  --link-color: #4c6ef5;
  --link-hover-color: #747bff;
  --button-bg-color: #f9f9f9;
}

body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.5;
  transition: background-color 0.3s ease, color 0.3s ease;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--link-hover-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 1px solid var(--text-color);
  padding: 0.5em;
  border-radius: 0.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg-color);
  color: var(--text-color);
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s, color 0.25s;
}

button:hover {
  border-color: var(--button-hover-border-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
