.about {
  text-align: center;
  width: 100%;
  flex-grow: 1;
  margin: var(--spacing-medium);

  .links {
    .title {
      margin: var(--spacing-medium);
      font-size: 1.2rem;
    }
    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      gap: var(--spacing-large);
      padding: 0;
      margin: 0;

      li {
        display: flex;

        a {
          font-size: 2rem;
          color: inherit;

          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }
  }
}
