/* AppStyle.css */
.App {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 1rem;
  box-sizing: border-box;
  place-items: center;
}

.App > * {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid var(--text-color);
  border-radius: 8px;
  background-color: var(--background-color);
}

.App > .content {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}