/* CurriculumStyle.css */
.curriculum {
  text-align: center;
  width: 100%;

  .curriculum-section {
    margin-bottom: 30px;

    .curriculum-list {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      align-items: center;

      .curriculum-card {
        border-bottom: 1px solid var(--text);
        width: 100%;
        transition: background-color 0.3s ease, border-color 0.3s ease;

        &:hover {
          background-color: var(--hover-bg-color);
          border-color: var(--link-hover);
        }

        .curriculum-info {
          text-align: left;
          color: var(--text);
          margin: 20px;

          .curriculum-date {
            font-size: 1rem;
            font-weight: bold;
            color: var(--link-hover);
            margin: 10px;
          }

          .curriculum-short-description {
            font-size: 1rem;
            font-weight: bold;
            color: var(--text);
            margin: 5px;
          }

          .curriculum-long-description {
            font-size: 0.95rem;
            color: var(--text);
            opacity: 0.9;
            line-height: 1.5;
          }
        }
      }
    }
  }
}
