.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  .list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    li {
      font-size: 1.25rem;
      cursor: pointer;
      margin: 1rem;
      transition: color 0.2s ease-in-out;

      &:hover {
        color: var(--link-hover);
      }

      a {
        color: var(--text);
        text-decoration: none;
      }

      a.active {
        color: var(--active);
        font-weight: bold;
      }
    }
  }

  .toolbar {
    display: flex;
    align-items: center;
    margin: 1rem;
  }
}
