.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--background);

  .list {
    display: flex;
    list-style: none;
    margin: var(--spacing-small);
    padding: 0;

    li {
      border-right: 3px solid var(--primary-color);
      padding-inline: var(--spacing-medium);

      a {
        font-size: 1.25rem;
        color: var(--text);
        text-decoration: none;
        position: relative;
        transition: color 0.2s ease-in-out;

        &:hover {
          color: var(--primary-color);
          width: 100%;
        }

        &.active {
          color: var(--primary-color);
          font-weight: bold;
        }
      }
    }
  }

  .theme-button {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--text);
    display: flex;
    align-items: center;
    margin: var(--spacing-small);
    padding: 0;

    &:hover {
      color: var(--primary-color);
    }
  }
}
