/* ProjectsStyle.css */

.projects {
  text-align: center;
  margin: var(--spacing-medium);

  > div {
    margin: var(--spacing-medium) 0;
    padding: var(--spacing-medium);
    border-bottom: 3px solid var(--primary-color);

    &:nth-child(odd) {
      border-left: 3px solid var(--primary-color);
    }

    &:nth-child(even) {
      border-right: 3px solid var(--primary-color);
    }

    .title {
      margin: 0 0 var(--spacing-medium);
      text-align: center;
      color: var(--primary-color);
    }
  }

  .project-card {
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s ease, border-color 0.3s ease;

    .project-info {
      text-align: center;
      color: var(--text);
    }

    .project-tech {
      padding-bottom: var(--spacing-medium);
      display: flex;
      flex-wrap: wrap;
      gap: var(--spacing-medium);
      list-style: none;
      padding-inline: var(--spacing-small);
      margin: 0;
      align-items: center;
      justify-content: center;

      li {
        background-color: var(--primary-color);
        color: var(--background);
        font-weight: bold;
        padding: 0.5rem 1rem;
        border-radius: var(--spacing-small);
        font-size: 0.875rem;
        transition: background-color 0.3s ease, color 0.3s ease;
      }
    }
  }
}
