.resume {
  text-align: center;
  flex-grow: 1;

  > * {
    margin: var(--spacing-medium);
  }

  > *:nth-child(odd) {
    border-left: 3px solid var(--primary-color);
    /* padding-left: var(--spacing-medium); */
  }

  > *:nth-child(even) {
    border-right: 3px solid var(--primary-color);
    /* padding-right: var(--spacing-medium); */
  }

  .resume-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    .resume-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .title {
        font-weight: bold;
        margin: var(--spacing-medium);
        color: var(--primary-color);
      }

      .info {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .type {
          font-weight: bold;
          text-transform: uppercase;
          margin: var(--spacing-small);
          border-bottom: 3px solid var(--primary-color);
        }

        .date {
          font-weight: bold;
          color: var(--primary-color);
          margin: var(--spacing-small);
          border-bottom: 3px solid var(--text);
        }
      }
    }

    .resume-details {
      display: flex;
      flex-direction: column;
      transition: background-color 0.3s ease, border-color 0.3s ease;

      .description {
        margin: var(--spacing-medium);
      }
    }
  }
}
